<% var content = thisTutorial.pageContent.navItems %>
<% var tutorialCommon = thisTutorial.tutorial._common %>
<% var tutorialSteps = thisTutorial.tutorial.pageSteps %>
<body>
  	<!-- body content here -->
	<div class="row">
	  <div class="small-12 medium-12 large-12 columns">
	    <p> </p>
	  </div>
	</div>
	<div class="row">
	  <div class="small-9 medium-9 large-9 columns">
	    <h4><%= tutorialCommon.name %></h4>
	  </div>
	  <div class="small-3 medium-3 large-3 columns">
	  	<div class="row">
	    	<a href="javascript:;" onclick="openHelpSystem('/com.ibm.etools.msgbroker.helphome.doc/help_home_msgbroker.htm');" class="small right helplink">IBM Knowledge Center</a> 
		</div>
	  </div>
	</div> 
	<hr />
	<div class="row">
	  <div class="small-9 medium-10 large-10 columns">
	    <h5> <%= tutorialCommon.shortDescription %> </h5>
	  </div>
			<div class="small radius button right" id="backToGallery" onclick="backToGallery()"> <%= content._common.buttonBackToGallery.text %>
			</div>
	</div>

	<div class="row">          
		  <div class="small-12 medium-12 large-12 columns">
			<ul class="tabs vertical"> 
				<li class="tab-title tab-title-small active"> 
				  <a href="javascript:;" onclick="show('panel11');"><%= tutorialSteps.concept.overview.name %></a>
				</li>
				<li class="tab-title tab-title-small">
				  <a href="javascript:;" onclick="show('panel21');"><%= tutorialSteps.create.overview.name %></a> 
				</li>
				<li class="tab-title tab-title-small">
				  <a href="javascript:;" onclick="show('panel31');"><%= tutorialSteps.prepare.overview.name %></a> 
				</li>
				<li class="tab-title tab-title-small">
				  <a href="javascript:;" onclick="show('panel41');"><%= tutorialSteps.run.overview.name %></a> 
				</li>
			</ul>
			<!-- editing -->
			<div class="tabs-content panel-thin-blue vertical"> 
			    <div class="content active" id="panel11">
			    	<div class="small-12 medium-12 large-12 columns">
				    	<div class="row content-details">
					      	<h4><%= tutorialSteps.concept.overview.heading %></h4>
					        <% var sections = tutorialSteps.concept.overview.sections %>
						    <% for (var i in sections) { %>
								<p> <%- sections[i].section %> </p>
							<% } %>
						</div>
						<% if (tutorialSteps.concept.helpLinks) { %>	
						<div class="row content-details">
							<h4><%= tutorialSteps.concept.helpLinks.title %></h4>
							<ul>
							<% for (var i in tutorialSteps.concept.helpLinks.details) { %>
								<% var link = tutorialSteps.concept.helpLinks.details[i] %>
								<li> <a href="javascript:;" onclick="openHelpSystem('/<%= link.link %>')" title="<%= link.title %><%= link.description %>"><%= link.description %></a> </li>
							<% } %>
							</ul>
						</div>	
						<% } %>	
					</div>
				</div>
		    	<div class="content" id="panel21">
		    		<div class="small-10 medium-10 large-10 columns divider">
				      	<div class="row content-details">
					      	<h4><%= tutorialSteps.create.overview.heading %></h4>
					        <% var sections = tutorialSteps.create.overview.sections %>
						    <% for (var i in sections) { %>
								<p> <%- sections[i].section %> </p>
							<% } %>
						</div>
						<% if (tutorialSteps.create.helpLinks) { %>
						<div class="row content-details">
							<h4><%= tutorialSteps.create.helpLinks.title %></h4>
							<ul>
							<% for (var i in tutorialSteps.create.helpLinks.details) { %>
								<% var link = tutorialSteps.create.helpLinks.details[i] %>
								<li> <a href="javascript:;" onclick="openHelpSystem('/<%= link.link %>')" title="<%= link.title %><%= link.description %>"><%= link.description %></a> </li>
							<% } %>
							</ul>
						</div>
						<% } %>
					</div>
					<div class="small-2 medium-2 large-2 columns">
					<h4 class="tkaction"><a href="javascript:;" onclick="importArtifacts(); openResource('<%= tutorialCommon.resourceToOpen %>');"> <%= tutorialSteps.create.actionName %> <img class="icon-image" src="http://ot4i.github.io/ot4i.tutorials/dist/images/icons/ibmdesign/back-right-previous_128-orange.png" /></a></h4>						
				    </div>
		    	</div>
		    	<div class="content" id="panel31">
		    		<div class="small-10 medium-10 large-10 columns divider">
						<div class="row content-details">
						  	<h4><%= tutorialSteps.prepare.overview.heading %></h4>
						    <% var sections = tutorialSteps.prepare.overview.sections %>
						    <% for (var i in sections) { %>
								<p> <%- sections[i].section %> </p>
							<% } %>
						</div>
						<% if (tutorialSteps.prepare.helpLinks) { %>
						<div class="row content-details">
							<h4><%= tutorialSteps.prepare.helpLinks.title %></h4>
							<ul>
							<% for (var i in tutorialSteps.prepare.helpLinks.details) { %>
								<% var link = tutorialSteps.prepare.helpLinks.details[i] %>
								<li> <a href="javascript:;" onclick="openHelpSystem('/<%= link.link %>')" title="<%= link.title %><%= link.description %>"><%= link.description %></a> </li>
							<% } %>
							</ul>
						</div>
						<% } %>	
					</div>
					<div class="small-2 medium-2 large-2 columns">
						<h4 class="tkaction"><a href="javascript:;" onclick="deployArtifacts();"> <%= tutorialSteps.prepare.actionName %> <img class="icon-image" src="http://ot4i.github.io/ot4i.tutorials/dist/images/icons/ibmdesign/back-right-previous_128-orange.png" /></a></h4>
				    </div>
		    	</div>
		    	<div class="content" id="panel41">
		    		<div class="small-10 medium-10 large-10 columns divider">
				    	<div class="row content-details">
					      	<h4><%= tutorialSteps.run.overview.heading %></h4>
					        <% var sections = tutorialSteps.run.overview.sections %>
						    <% for (var i in sections) { %>
								<p> <%- sections[i].section %> </p>
								<% if (sections[i].steps) { %>
								<% var steps = sections[i].steps %>
									<% if (steps.type == "ordered") { %>
									<ol>
									<% } else { %>
									<ul>
									<% } %>
									<% for (var j in steps.details) { %>
										<li> <%- steps.details[j].details %>
										<% if (steps.details[j].substeps) { %>
										<% var substeps = steps.details[j].substeps %>
											<% if (substeps.type == "ordered") { %>
											<ol>
											<% } else { %>
											<ul>
											<% } %>
												<% for (var k in substeps.details) { %>
													<li> <%- substeps.details[k].details %></li>
												<% } %>
											<% if (substeps.type == "ordered") { %>
											</ol>
											<% } else { %>
											</ul>
											<% } %>
										<% } %>
										</li>
									<% } %>
									<% if (steps.type == "ordered") { %>
									</ol>
									<% } else { %>
									</ul>
									<% } %>
								<% } %>
							<% } %>
						</div>
						<% if (tutorialSteps.run.helpLinks) { %>
						<div class="row content-details"> 	
							<h4><%= tutorialSteps.run.helpLinks.title %></h4>
							<ul>
							<% for (var i in tutorialSteps.run.helpLinks.details) { %>
								<% var link = tutorialSteps.run.helpLinks.details[i] %>
								<li> <a href="javascript:;" onclick="openHelpSystem('/<%= link.link %>')" title="<%= link.title %><%= link.description %>"><%= link.description %></a> </li>
							<% } %>
							</ul>
						</div>
						<% } %>	
					</div>
					<div class="small-2 medium-2 large-2 columns">
						<h4 class="tkaction"><a href="javascript:;" onclick="cleanUp();" title="<%= tutorialSteps.run.cleanupDescription %>"><%= tutorialSteps.run.cleanupName %><img class="icon-image" src="http://ot4i.github.io/ot4i.tutorials/dist/images/icons/ibmdesign/back-right-previous_128-orange.png" /></a></h4>
				    </div>
				</div>	
			</div> <!-- tab-content -->
		</div> <!-- columns -->
	  </div> <!-- row -->